// Mixins
@import "./imports/mixins";
@import "./imports/variables";

// Components
@import "./components/map";

// Pages
@import "./pages/peopleInSpace";
@import "./pages/homePage";

// Resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
